:root {
  --lightDarkblue: rgb(43, 42, 71, 0.87);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

header {
  background-color: white;
  top: 0;
  z-index: 5;
}

.fontSize110 {
  font-size: 110px !important;
}

.BoldText {
  font-weight: bold;
  width: fit-content;
  position: relative;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 15%;
  font-size: 150px;
  cursor: pointer;
  color: var(--lightDarkblue)
}

.fadeIn {
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 1s 0.7s forwards;
  transition: opacity 0.3s, visibility 0.3s ease-in-out;
}

.fadeIn:first-child {
  animation-delay: 0s;
}

.fadeIn:last-child {
  animation-delay: 1.5s;
  display: inline;
  transition: opacity 0.3s, visibility 0.3s, font-size 1.5s;
}

.hidden {
  opacity: 0;
  transition: opacity 4s, transform 3s;
  filter: blur(1px);
  transform: translate(-300px)
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(-0px)
}

@keyframes fadeIn {
  from {
    margin-left: 0;
    visibility: hidden;
    opacity: 0
  }

  to {
    margin-left: 15%;
    visibility: visible;
    opacity: 1
  }
}

@keyframes fade {
  from {
    visibility: hidden;
    opacity: 0
  }

  to {
    visibility: visible;
    opacity: 1
  }
}

header p::after,.highlight::after {
  content: "";
  height: 43%;
  width: 100px;
  left: -1%;
  z-index: -1;
  bottom: 16%;
  background-color: rgb(206, 206, 206);
  position: absolute;
  transform: skew(138deg);
  border-radius: 50%;
  transition: width 0.3s;
}

header p:hover::after ,.highlight:hover::after{
  width: 100%;
}
.highlight::after{
  bottom: 23%;
}
summary::-webkit-details-marker {
  display: none;
}

.languages p {
  font-size: 80px;
  color: rgb(38, 38, 92)!important;
  margin-left: 7%;
}
.languages li{
  padding-top:30px;
  padding-bottom:30px;
}

.languages ul center span {
  font-size: smaller;
  color: rgb(000, 000, 000, 0.5);
  margin: 0;
  position: absolute;
  animation: upNdown 0.5s alternate infinite;
}

center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes upNdown {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);

  }
}
.languages ul details div {
  margin: auto;
  color: rgb(50, 50, 50,0.9);
  margin-left: 20%;
  margin-right: 5%;
  line-height: 1.3;
  font-size: 32px;
  cursor: pointer;
  width: fit-content;
}
table{
  margin:auto;
margin-bottom:200px;
  position: relative;
  border-collapse: collapse;
}
table tr th{
  padding:25px;
  color:white;
  font-size: 25px;
  font-family: Chalkboard,sans-serif;
  background-color: lightslategray;
}
table tr td{
  font-size:17px;
  font-family:sans-serif;
  font-weight:lighter;
    padding:20px 30px 20px;
}