html{
  scroll-behavior: smooth;
 }
 :root{
  --large-text:50px;
  --small-text:25px;
  --extra-small-text:20px;
  --mid-text:30px;
  --mid-large:40px;
 }
 @media (max-width:1100px) {
  :root{
   --large-text:30px;
   --small-text:20px;
   --extra-small-text:17px;
   --mid-text:23px;
   --mid-large:25px;
  }
 }
 @media (max-width:770px) {
  :root{
   --large-text:30px;
   --small-text:20px;
   --extra-small-text:17px;
   --mid-text:19px;
   --mid-large:23px;
  }
 }
 
 body{
  margin:0;
  box-sizing: border-box;
  font-family: sans-serif;
 }
 h1,h2,h3, p{
  margin:0 ;
 }
 header{
  z-index: 999;
  background-color: #ffffff;
  height: 40px;
  width: auto;
  padding:20px 40px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: sticky;
  top:0;
  right:0;
 }
 
 
 header ul{
  padding:0;
  color:rgb(151, 186, 255);
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap:15px;
 }
 
 header ul li{
  cursor: pointer;
  font-size: var(--extra-small-text);
  transition: color 0.7s;
 }
 header ul li:hover{
  color:#25adfc
 }
 header ul li a{
  color: inherit;
  text-decoration: none;
 }
 
 i{
  display: none !important;
 }
 header .title h1{
  color:#42c0ff;
  font-size: var(--small-text);
  font-weight: bold;
 }
 @media (max-width: 770px) {
  header{
   flex-direction: column;
   margin: 0;
   align-items: center;
   z-index: 99;
   padding: 0;
   width: 100%;
  }
  header .title{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   padding:15px 0px;
   margin: auto;
   background-color: white;
   z-index: 99;
  }
  i{
   display: block !important;
   cursor: pointer;
   color:#3b7ea2;
  }
  header i:hover{
   color:#002e6e
  }
  header ul {
   transition: top 0.6s;
   position: absolute;
   top: -1000%; /* Hidden by default */
   padding: 100px 0;
   flex-direction: column;
   width: 100%;
   color: white;
   gap: 40px;
   background-color: #3b7ea2;
 }
 
  header .title:hover + ul{
   top:75%;
  }
  header ul li{
   font-size: var(--small-text) !important;
  }
    header ul li:hover{
     color: color(srgb 0.6042 0.8097 0.875);
    }
 }
 
 .landing{
  height: auto;
  width: 100%;
  position: relative;
  display:grid;
  grid-template-columns: 1fr 1fr;
 }
 
 .landing .text{
  height: 100%;
  background-color: #89cdf5;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 @media (max-width:770px) {
  .landing{
  grid-template-columns: 1fr;
  }
  .landing .text{
   height: 20vh;
  }
 }
 .landing .text h1{
  font-weight: bold;
  font-size: var(--large-text);
 }
 .landing .text p{
  font-size: var(--small-text);
  font-weight: lighter;
 }
 .landing img{
 max-width: 100%;
 }
 
 #description{
 color:#89BBF5;
 padding:30px 20px;
 height: 50vh;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 text-align: center;
 }
 
 #description h1{
  font-weight: bold;
  font-size: var(--mid-large) !important;
  position: relative;
  margin:0 auto 30px !important;
  width:fit-content;
 }
 
 #description h1::before{
  content:"";
  position: absolute;
  bottom:-25%;
  height: 3px;
  width: 120%;
  left:-10%;
  background: linear-gradient(to right, #65ceff 0%, #65ceff 40%, #E0E0E0 0%);
 }
 @media (max-width:1100px) {
  #description{
   height: auto;
   margin:10px 0;
  }
  #description h1{
   margin:0 auto 20px!important;
  }
  #description h1::before{
   height: 4px;
   bottom:-25%;
   height: 2px;
  }
 }
 #description p{
  font-size: var(--mid-text);
  line-height:1.5;
  padding: 0 7%;
 }
 @media (max-width:770px) {
  #description{
   text-align: end;
   align-items: end;
  }
   #description h1{
    margin-right: 10% !important;
   }
   #description h1::before{
    width: 200%;
    left:auto;
    right:0;
  background: linear-gradient(to right, #E0E0E0 0%, #E0E0E0 40%, #65ceff 0%);
   }
 }
 #factors{
  height: auto;
  width:auto;
 padding:70px 20px;
 background:linear-gradient(to right,#d1f5ff 0%, #d1f5ff 50%,#6cccff 50% );
 }
 #factors h1{
 color:#ffffff;
 margin-left:auto;
 width: fit-content;
 position: relative;
 font-size: var(--mid-large);
 }
 @media (max-width: 770px) {
  #factors {
    padding: 40px 10px;
    background: linear-gradient(to bottom left, #d1f5ff, #6cccff);
  }
  #factors h1 {
    margin: 0 auto;
  }
 }
 
 .items{
  width:80%;
  margin:50px auto;
  background-color: white;
  border-radius: 20px;
 padding:50px 60px;
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap:40px;
 }
 
 .items .element{
 background-color: #d6f5ff;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
 }
 .items .element h3{
 padding:20px 0;
 color: white;
 font-size:var(--small-text);
 background-color: #6dd6ff;
 }
 .items .element p{
  color: #4a4a4a;
  padding:20px 20px 40px;
  line-height: 1.5;
  font-size: var(--small-text);
 }
 @media (max-width:1100px) {
  .items .element h3{
  padding:17px 10px;
  }
  .items .element p{
  padding:15px 15px 25px;
  }
  .items{
 gap:23px;
 padding:30px;
 margin:30px auto;
 grid-template-columns: repeat(2,1fr);
  }
 }
 @media (max-width: 770px) {
  .items {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 15px;
  }
 }
 
 #HowToDeal{
  overflow: hidden;
  padding:80px 30px;
  width: auto;
  color:#6cd0ff;
  position: relative;
 }
 #HowToDeal::before,#HowToDeal::after{
 content:"";
 position: absolute;
 height: 60%;
 width: 46%;
 left: -12%;
 top: 70%;
 bottom:0;
 border-radius: 50%;
 background-color: #20c0ec;
 rotate: 9deg;
 z-index: -3;
 animation:alternate movin 1.5s ease-in-out infinite ;
 }
 
 #HowToDeal::after{
  right: -20%;
  left:auto;
  top: -30%;
 }
 
 @keyframes movin {
  100%{
 rotate: 13deg;
  }
 }
 #HowToDeal h2{
 font-size: var(--mid-large);
 }
 
 #HowToDeal ul{
  padding:40px 20px;
  text-align: right;
  direction: rtl;
  display: flex;
  flex-direction: column;
  gap:35px;
  color:#003346;
 font-size: var(--mid-text);
 }
 @media (max-width:1100px) {
  #HowToDeal::before,#HowToDeal::after{
 height: 30%;
 width: 70%;
 top: 80%;
  }
  #HowToDeal{
   padding:30px 20px;
  }
  #HowToDeal::after{
   top: -10%;
  }
  #HowToDeal ul{
  padding:0px 20px;
  gap: 20px;
  }
 }

 @media (max-width: 770px) {
  #HowToDeal::before,#HowToDeal::after{
   height: 45%;
   width: 60%;
   top: 80%;
    }
  @keyframes movin {
  100%{
 rotate: 50deg;
  }}
    #HowToDeal::after{
     top: -15%;
    }
    #HowToDeal ul{
  padding:0px 20px 0 0;
     font-size: var(--small-large) ;
    }
 }
 #Inhaler{
 height: 170vh;
  width: auto;
  position: relative;
  display: grid;
 }
 #Inhaler .main .text{
  position: relative;
  color:white;
  padding: 60px 0px 0px;
  margin-bottom: 70px;
  height: 100vh;
  font-size: calc(var(--large-text) + 10px);
  font-weight: bold;
  text-align: center;
 background-color: #75B1C8;
 background: linear-gradient(to bottom , #75B1C8 0%, #75B1C8 60%, white 0);
 }
 #Inhaler .text  img{
  position: absolute;
  border-radius: 10px;
  margin:0 auto;
  top:75%;
  left:50%;
  transform: translate(-50%,-100%);
 max-width: 100%;
 height:auto;
 }
 @media (max-width:1100px) {
  #Inhaler .main .text{
   height: 70vh;
  }
  #Inhaler{
   height: 120vh;
  }
  #Inhaler .text  img{
   max-width: 80%;
   top:100%;
  }
 }
 @media (max-width:770px) {
  #Inhaler .main .text{
   height: 80vh;
  }
  #Inhaler .text  img{
   top:90%;
   max-width: 90%;
  }
 }
 #Inhaler .descrption{
  position: relative;
 background-color: #82c7df;
 color:#00293f;
 font-size: calc(var(--mid-text) + 5px);
 padding: 30px 70px;
 height: 40vh;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 }
 @media (max-width:1100px) {
  #Inhaler .descrption{
 font-size: var(--small-text) ;
 padding: 30px 40px;
   height: 50vh;
  }
 }
 @media (max-width:770px) {
  #Inhaler .descrption{
  padding: 10px 0px;
   height: 50vh;
  }
 }
 #Inhaler .descrption p{
  z-index: 9;
 }
 #Inhaler .descrption::before{
  content:"";
  opacity: 0.2;
  background-image: url("https://static.webteb.net/images/content/tbl_diseases_disease_14_56f857d6ae-51e1-4c04-8920-120d9d70cc26.jpg");
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }
 
 #Inhaler .instructions{
  display: flex;
  width: 100%;
  position: relative;
  margin:30px 0 80px;
  height: 110vh;
  align-items: center;
  justify-content:space-around;
 }
 #Inhaler .instructions .text p{
  color:#3b7ea2;
  font-size: var(--large-text);
  font-weight: bold;
 }
 #Inhaler .instructions .steps{
  display: flex;
  justify-content: center;
  flex-direction: column;
  counter-reset: steps;
  gap:100px;
 }
 
 #Inhaler .instructions .steps .el{
  padding:45px 25px;
  background-color: rgb(231, 231, 231);
  color:#4a4a4a;
  border-radius: 20px;
  display: flex;
  max-width:480px;
  text-align: end;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  gap:20px;
  font-weight: normal;
  font-size: var(--small-text);
  position: relative;
 }
 
 #Inhaler .instructions .steps .el h2{
  font-size: var(--mid-text) !important;
 }
 
 #Inhaler .instructions .steps .el::before{
  counter-increment: steps;
  content:counter(steps);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial black;
  height: 60px;
  width: 60px;
  position: absolute;
  top:0%;
  right:0%;
  transform: translate(40%,-40%);
  border-radius: 50%;
  color:white;
  font-size: var(--mid-large);
  background-color: #c9c9c9;
 }
 @media (max-width:1100px) {
  #Inhaler .instructions .steps .el::before{
   transform: translate(0,0);
   border-radius:0 15px;
  }
  #Inhaler .instructions .text p{
   color:#3b7ea2;
   font-weight: bold;
  }
  #Inhaler .instructions{
   flex-direction: column;
   height: auto;
   padding:20px 0;
  }
  #Inhaler .instructions .steps{
   gap:60px;
   margin-top:50px ;
   margin-bottom:50px ;
  }
  #Inhaler .instructions .steps .el{
  padding:35px 10px;
  gap:15px;
  max-width: 400px;
  text-align: center;
  align-items: center;
  }
 }
 @media (max-width: 770px) {
  #Inhaler .instructions {
    flex-direction: column;
    padding: 10px 0;
  }
  #Inhaler .instructions .steps{
   width: 80%;
   margin:50px auto;
  }
  #Inhaler .instructions .steps .el {
    padding: 20px;
    gap: 10px;
    max-width: 100%;
  }
  #Inhaler .instructions .steps .el::before {
    height: 40px;
    width: 40px;
    font-size: var(--small-text);
  }
 }
 
 #Inhaler .instructions .steps .el:not(:last-child)::after{
  content:"";
  width: 2px;
  height: 60%;
  bottom:-60%;
  left:50%;
  transform: translateX(-50%);
  background-color: #c9c9c9;
  position: absolute;
 }
 